# Bot identity
BOT_NAME=Freezer-MD
PREFIX=.

# NEXUS session restore — leave blank to use QR code login instead
# Format: NEXUS___<mega_key>#<mega_hash>__<fingerprint>
SESSION_ID=
SESSION_DIR=./session

# Owner
OWNER_NUMBER=254791553079

# If true, anyone can use the bot; if false, only the owner can
PUBLIC_MODE=true

NEWS_API_KEY=3cf44e2172724ffa912c56df48c93adc

FOOTBALL_API_KEY=bb30864e187c4791a01c29db90a02b6d
